body {
  background-color: #f927ac;
  padding: 0;
   margin: 0;
  }
  main {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #1e202d;
    padding: 0px 50px;
  }
  h3{
    color: #858585;
  }
  /*Create the card container*/
  .birthdayCard {
    margin-top: 30px;
    margin-left: 77px;
    width: 250px;
    height:350px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;
  }
  
  .birthdayCard:hover {
      transform: perspective(2500px) rotate(5deg);
      box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 0 10px 100px rgba(0,0,0,0.3);
  }
  
  .birthdayCard:hover .cardFront {
    transform: rotateY(-160deg); 
  }
  
  .birthdayCard:hover .front-text {
    display: none;
  }
  
  /*pode remover se quiser deixar o desenho*/
  .birthdayCard:hover .wrap-deco {
    display: none;
  }
  /**********/

  .birthdayCard:hover .wrap-decoTwo {
    display: none;
  }

  /*pode remover se quiser deixar o bolo*/
  .birthdayCard:hover .plate {
    display: none;
  }
   /**********/

  /*Style the front of the card*/
  .cardFront {
    position: relative;
    background-color: rgb(255, 246, 246);
    width: 250px;
    height:350px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.13), 30px 0 50px rgba(0,0,0,0.1);
    transition: .4s;
  }
  
  .front-text h3{
    color: #000;
  }
  
  .happy, .toyou {
    position: relative;
    font-family: didot;
    text-align: center;
    backface-visibility: hidden;
    font-size: 30px;
  }
  
  .happy {
    top:198px;
  }
  
  .toyou {
    top:123px;
  }
  
  .bday {
    padding-bottom: 8px;
    position: relative;
    font-family: arial;
    font-size: 30px;
    text-align: center;
    top:163px;
  }
  
  .wrap-deco {
    position: absolute;
    top:-230px;
    left:-200px;
  }
  
  .decorations {
    position: absolute;
    width: 400px;
    height: 300px;
    border: 3px solid #333;
    border-radius: 50%;
  }
  
  .decorations:before, .decorations:after, .decorationsTwo:before, .decorationsTwo:after, .decorationsThree:before, .decorationsThree:after {
    content:"";
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    width:0;
    height:0;
  }
  
  .decorations:before {
    border-top: 40px solid #f15bb5;
    top:297px;
    left:210px;
    transform: rotate(-5deg);
  }
  
  .decorations:after{
    border-top: 40px solid #f4d35e;
    top:288px;
    left:260px;
    transform: rotate(-17deg);
  }
  
  .decorationsTwo:before {
    border-top: 40px solid #00f5d4;
    top:268px;
    left:315px;
    transform: rotate(-30deg);
  }
  
  .decorationsTwo:after, .decorationsThree:after {
    border-top: 40px solid #9b5de5;
    top:238px;
    left:355px;
    transform: rotate(-40deg);
  }
  
  .wrap-decoTwo {
    transform: scaleX(-1);
    position: absolute;
    top:-230px;
    left:445px; 
  }
  
  .decorationsThree:before {
    border-top: 40px solid #00bbf9;
    top:268px;
    left:315px;
    transform: rotate(-30deg);
  }
  
  .plate {
    position: absolute;
    width: 130px;
    height: 5px;
    background-color: #00bbf9;
    left:60px;
    top:213px;
  }
  
  .cake {
    position: absolute;
    overflow: hidden;
    width:100px;
    height: 50px;
    background-color: #f15bb5;
    border-radius: 10px 10px 0 0;
    top:-50px;
    left:15px;
    box-shadow: inset 0 -15px #f9c74f, inset 0 15px #432818;
  }
  
  .cake:before {
    content:"";
    position: absolute;
    background-color: #432818;
    width:10px;
    height:20px;
    top:5px;
    border-radius:20px;
    box-shadow: 10px 5px #f15bb5, 20px 0px #432818, 30px 2px #f15bb5, 40px 5px #432818, 50px 5px #f15bb5, 60px 0px #432818, 70px 5px #f15bb5, 80px 5px #432818, 90px 5px #f15bb5;
  }
  
  .plate:before {
    content:"";
    position: absolute;
    background: repeating-linear-gradient(-45deg, #9b5de5, #9b5de5 3px, #00f5d4 3px, #00f5d4 6px);
    width:7px;
    height: 25px;
    top:-75px;
    left:61px;
  }
  
  .plate:after {
    content:"";
    position: absolute;
    width:1px;
    height: 5px;
    background-color: #333;
    top:-80px;
    left:64px;
  }
  
  
  .flame {
    position: absolute;
    background-color: #fb5607;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    transform: rotate(-45deg);
    width:15px;
    height:15px;
    opacity:0.7;
    top:-93px;
    left:57px;
  }

  /*Style the inside part of the card*/
  .cardInside {
    position: absolute;
    background-color: #fff;
    width: 250px;
    height:350px;
    z-index:-1;
    left:0;
    top:0;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
  }
  
  .inside-text {
    position: relative;
    top:-160px;
    transform: scale(0.7);
  }
  
  .wishes {
    position: relative;
    top:-100px;
    margin: 25px;
  }
  
  p {
    font-family: 'Brush Script MT';
    color: #333;
  }
  
  .name {
    margin-left:115px;
  }
  .corpo{
    margin: 0;
    padding: 0;
    border-left: 3px solid #858585;
    box-shadow: 1px 4px 8px #0c0c0c ;
  }
  .corpo p{
    display: grid;
    grid-template-columns: 1fr; /* Single column */
    grid-gap: 10px; /* Spacing between elements */
    text-align: center;
    color: #dedee2;
    border: 1px solid #000000;
    border-left: 1px solid #858585;
 
    padding: 10px;
    box-shadow: 0px 2px 8px #010101;
    
  }
  .fotos {
    background-color: #000;
    border-radius: 0px;
    width: 400px;
    height: 260px;
    display: flex; /* Para organizar as fotos em linha */
    justify-content: space-around; 
    flex-wrap: wrap; /* Quebra de linha se necessário */
}

.fotos img {
    width: 50%;
    height: 260px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* Sombra para destaque */
}
main .foto{
  margin-top: 20px;
  border-left: 3px solid #858585;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
main .foto img{
  border-radius: 15px;
  margin: 5px 0px;
  width: 111px;
  height: 152px;
  display: flex;
  justify-content: space-around;
  padding: 9px;
  transition: transform 0.4s ease;
  cursor: pointer;
}
main .foto img:hover{
  transform: scale(1.1);
  box-shadow: 1px 1px 9px #000;
}

.teamo{
  border-top: 1px solid #a8a7a8;
  border-bottom: 1px solid #a8a7a8;
  color: red;
  margin-bottom: 10px;
}
.teamo h1{
  animation: pulse 1s ease-in-out infinite; /* Animação, duração, função de tempo, repetições */
}

@keyframes pulse {
  0% { transform: scale(1); } /* Tamanho inicial */
  50% { transform: scale(1.05); } /* Tamanho máximo */
  100% { transform: scale(1); } /* Tamanho final (igual ao inicial) */
}
.recado{
  display: grid;
  align-items: center;
  color: #a8a7a8;
}
video{
  margin-top: 20px;
  width: 400px;
  height:50%;
}
footer{
  color: #a2a2a2;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #1c1c1c;
    }
